- content_for :sidebar do
  %h4 Congregations
  - @congregations.each do |congregation|
    %p= congregation.name

-if @congregation
  %h3 #{@congregation.name} Dashboard
  %h4 School Sessions Pending Completion
  - @school_sessions = @congregation.school_sessions.incomplete
  - @school_sessions.each do |school_session|
    = link_to school_session.week_of.to_s, congregation_school_session_path(@congregation, school_session)
