- content_for :sidebar do
  %dl.nice.vertical.tabs
    - @congregations.each do |congregation|
      %dd= link_to congregation.name, "#"
  = link_to "New Congregation", new_congregation_path

- if @congregation
  %h1 #{@congregation.name} Dashboard
  %h3 School Sessions Pending Completion
  %ul
  - @school_sessions.each do |school_session|
    %li= link_to school_session.week_of.to_s, congregation_school_session_path(@congregation, school_session)
