%h2= t 'edit_model', :model => Family.model_name.human
- form_for [@congregation, @family] do |f|
  = render :partial => "form", :locals => { :f => f }
= link_to t("nav.back"), congregation_families_path( @congregation )
