%h2= t 'record.create_model', :model => Family.model_name.human
= form_for [@congregation, @family] do |f|
  = render :partial => "form", :locals => { :f => f }
= link_to "Back", congregation_families_path( @congregation )

