#header
  %h1
    %a{:href => "/"} TMS Assistant
  #main-navigation
    - if current_user
      %ul.wat-cf
        %li= link_to 'Home', root_path
        %li= link_to "Congregations", congregations_path
        - if session[:congregation_id]
          %li= link_to "Students", congregation_students_path( session[:congregation_id] ) 
  #user-navigation
    %ul.wat-cf
      = render 'devise/menu/login_items'
