$dark: #2f427a;
$light: #bbccff;
$lighter: #ffffdd;
$selected: #FF9900;
$assigned: #FFFF00;
$completed: #33CC66;
$cancelled: #CC0000;

table.calendar {
  margin: auto;
  text-align: center;
  width: 90%;

  a {
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
  }

  thead tr.dayName {
    background-color: black;
    color: white; 

    th {
      font-size: 0.7em;
      padding-top: 0.6em;
      padding-bottom: 0.3em;
      border-bottom: 1px solid white; 
    }

    abbr {
      color: white;
    }
  }

  th.monthName {
    font-weight: bold;
    font-size: larger;
    text-align: center;
    background-color: $dark;
    padding-top: 0.5em;
    /*padding-bottom: 0.7em;*/
    color: white; 
  }


  td {
    /*padding: 0.7em 1em;*/
    text-align: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-right: 1px solid #111111; 
    border-bottom: 1px solid #111111;
  }

  /*.day, .weekendDay {*/
    /*color: white;*/
    /*border-bottom: 1px solid #111111;*/
    /*background-color: #333333; }*/

  .specialDay {
    /*background-color: #333333;*/
    /*background-color: $lighter;*/
    /*color: black;*/
  }

  .otherMonth {
    color: #999999;
    background-color: #4f4f5b; 
  }

  .selectedDate {
    border-bottom: 1px solid #111111;
    background-color: green;
    color: white;
    font-weight: bold;
  }

  .assignedDate {
    border-bottom: 1px solid #111111;
    background-color: $assigned;
    color: black;
    font-weight: bold;
  }

  .completedDate {
    border-bottom: 1px solid #111111;
    background-color: $completed;
    color: white;
    font-weight: bold;
  }

  .cancelledDate {
    border-bottom: 1px solid #111111;
    background-color: $cancelled;
    color: white;
    font-weight: bold;
  }

  .today {
    /*background-color: black;*/
    /*color: white; */
  }

  tbody tr {
    background-color: #333333;
    color: white;
    td {
      color: white;
    }

  }
  tbody tr.highlight {
      background-color: green;
      cursor: pointer;
  }
}

#calendar_back {
  margin-left: 1em;
  margin-bottom: 1em;
  float: left;
}

#calendar_forward {
  margin-right: 1em;
  margin-bottom: 1em;
  float: right;
}
