div.field_with_errors {
  padding: 0px;
  margin: 0px;
  color: red;
  input[type="text"] {
    border: solid 1px red;
  }
  label {
    margin-bottom: 5px;
  }
}

form {
  fieldset {
    border: 1px solid black;
    legend {
      background: #45648c;
      padding: 0.2em 0.5em;
      border: 1px solid black;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-left:auto;
      margin-right:auto;
      min-width: 40%;
    }
    label {
      max-width: 60%;
    }
    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
}
