body {
  background: #F0F0EE;
}

body {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.25em;
  }
}

.nice.tabs.vertical {
  dd {
    font-weight: bold;
    a {
      &:visited {
        background-color: #2F427A;
        color: white;
      }
      &:active {
        background-color: #2F427A;
      }
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
  th {
    padding: 10px;
    font-weight: bold;
    text-align: left;
    .first {
      width: 30px; 
    }
    .last {
      width: 200px; 
    }
  }
  td {
    padding: 10px;
    .last {
      text-align: right; 
    }
  }
}

