= form_for [@language, @setting_source], :validate => true do |f|
  %fieldset
    %legend= SettingSource.human_attribute_name("number") + " " + f.object.number.to_s
    = f.text_field :description
  = f.submit
