- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

#special_date
  %h1 Editing Special Date

  = render 'form'

  %p
    = link_to 'Show', [@congregation, @special_date]
    \|
    = link_to 'Back', congregation_special_dates_path( @congregation )
