- content_for :sidebar do
  #calendar
    = render :partial => 'shared/calendar'

#special_date
  %h2= t ".title"
  = render 'form'
  = link_to t("nav.back"), congregation_special_dates_path( @congregation )
